<!DOCTYPE html>
<html>
  <link
    rel="stylesheet"
    href="{{{{ url_for('static', filename='style/getit.css') }}}}"
  />
  <head>
    <meta charset="UTF-8" />
    <title>Get-it</title>
  </head>
  <body>
    <div class="header">
      <img
        src="{{{{ url_for('static', filename='img/logo-getit.png') }}}}"
        width="100px"
        height="60px"
      />
      <p>Como o Post-it, mas com outro verbo</p>
    </div>
    <form action="/submit" method="POST">
      <label for="titulo">Título</label>
      <input id="titulo" type="text" name="titulo" />
      <label for="detalhes">Detalhes</label>
      <input id="detalhes" name="detalhes" />
      <input type="submit" />
    </form>

    <ul>
      {notes}
    </ul>
  </body>
</html>
